* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-X: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: aliceblue;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family:  'Pacifico', cursive;
    letter-spacing: 3px;
}
nav ul {
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 0,8em;
}
nav ul li a:hover {
    color: white;
}



/* Hamburger Menu  */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    position: relative;
    transition: all 0.5s;
}

/* Hamburger Menu Animation  */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, 0.1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0)
}



/* Responsive Brekpoint */

/* ukuran tablet */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile  */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        top: 0;
        width: 80%;
        height: 100vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: blueviolet;
        transform: translateX(100%);
        transition: all 1s;
        z-index: -1;
        opacity: 1;

    }
    nav ul.slide {
        opacity: 0;
        transform: translateX(0);
    }
}